<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home
        <%='sahil'.toUpperCase()%>
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo doloremque error voluptatem nihil obcaecati cumque quas dolorem sapiente, consectetur quasi vel nemo, enim cupiditate placeat reiciendis! Dignissimos, assumenda? Iusto, illo!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque alias placeat, deserunt nemo et est dolor, inventore atque accusamus hic, fugiat neque. Laudantium, quidem repudiandae perferendis magnam eos quos natus.</p>
</body>

</html>